<dx-data-grid id="dataGrid"
  [dataSource]=data
  keyExpr="country"
  [allowColumnReordering]="true"
  [allowColumnResizing]="true"
  [columnAutoWidth]="true"
  [showRowLines]="true"
  [showBorders]="true"
  [rowAlternationEnabled]="true"
>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-search-panel [visible]="true"></dxo-search-panel>
  <dxo-column-chooser
    [enabled]="true"
    mode="select">
  </dxo-column-chooser>
  <dxo-paging [enabled]="true"
    [pageSize]="4"
  ></dxo-paging>
</dx-data-grid>