<div id="header-div"><h1 id="heading1">Attandance Tracker Dashboard</h1></div>
<!-- <router-outlet></router-outlet> -->
<div id="chart-container">
    <div id="bar-chart-wrapper">
        <bar-chart 
            id="barChartComponent"
        ></bar-chart>
    </div>
    <div id="line-chart-wrapper">
        <line-chart 
            id="lineChartComponent"
        ></line-chart>
    </div>
</div>
<div id="data-grid-wrapper">
    <data-grid
        id="dataGridComponent"
    ></data-grid>
</div>
